# 運行測試腳本的 host 與 port
SCX_RUN_TEST_HOST=
SCX_RUN_TEST_PORT=

# 要測試用來拋送 webhook event 的對象
SCX_WEBHOOK_HOST=
SCX_WEBHOOK_PORT=
SCX_WEBHOOK_PROTOCOL=https
SCX_WEBHOOK_API_PATH=callback
SCX_TEST_SERVER_RUN_TIME=30

# 用來接收訊息的 line bot channel secret
LINE_CHANNEL_SECRET=

